<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <style>
            .ad {
                position: absolute;
                width: 300px;
                height: 250px;
                border: 1px solid #ddd;
                left: 50%;
                transform: translateX(-50%);
                top: 250px;
                z-index: 10;
            }
            .ad .close {
                position: absolute;
                font-family: 'ionicons';
                width: 20px;
                height: 20px;
                color: #fff;
                background-color: #999;
                font-size: 20px;
                left: -20px;
                top: -1px;
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
                text-align: center;
            }
        </style>
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300') }}"rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('loginassets/main.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script async src="{{ asset('//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js') }}"></script>
        <!-- kodhus demos -->

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    <script src="{{ asset('https://code.jquery.com/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('https://code.highcharts.com/highcharts.js') }}"></script>
    <script src="{{ asset('https://code.highcharts.com/modules/data.js') }}"></script>
    <script src="{{ asset('loginassets/main.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                $('.close').click(function() {
                    $('.ad').css('display', 'none');
                })
            })
        </script>
    {% endblock %}
    <div class="header">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>Brand</span>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>Brand</span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <span><i class="fa fa-user"></i></span>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span><i class="fa fa-envelope"></i></span>
                        <span>Messages</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span><i class="fa fa-bar-chart"></i></span>
                        <span>Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fa fa-credit-card-alt"></i></span>
                        <span>Payments</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>





</head>
{% block body %}{% endblock %}

</html>