{% extends "SmartStartBase.html.twig" %}
{% block title %}list questions{% endblock %}
{% block body %}
<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{ asset('assets/images/blog-banner.png') }});">
    <h2 class="tit6 t-center">
    </h2>
</section>
<section>
<center>


    <table border="2">
        <h1> List questions </h1>

        <tr> <th>id  </th><th>question  </th><th>description  </th><th>posted in </th><th>subject  </th><th>user  </th><th>answered in  </th></tr>

        {% for m in quest  %}
            <tr>
                <td> {{ m.id }} </td>
                <td> {{ m.question }} </td>
                <td> {{ m.description }} </td>
                <td> {{ m.postdate|date }} </td>
                <td> {{ m.subject }} </td>
                <td> {{ m.idu.id }} </td>
                <td> {{ m.answered|date }} </td>
                <td> <a href="{{ path('reply_question',{'idq':m.id}) }}"> <button> Reply </button> </a> </td>
                <td> <a href="{{ path('qanda_Qupdate',{'id':m.id}) }}"> <button> update </button> </a> </td>
                <td> <a href="{{ path('qanda_Qdelete',{'id':m.id}) }}"> <button> delete </button> </a> </td>
            </tr>
        {% endfor %}


    </table>

    <a href="{{ path('qand_a_homepage' ) }}" > <button>home</button> </a>


</center>
</section>
{% endblock %}